<a href="https://colab.research.google.com/github/Sanjib987/python-practise/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Write a program that takes in a number N as input and does the following:
if N is a multiple of 3, print Fizz
if N is a multiple of 5, print Buzz
if N is a multiple of both 3 and 5, print FizzBuzz
Problem Constraints:
1 <= N <= 1000
Input Format
There is only 1 single line in the input, which is the integer N.
Output Format
Print Fizz / Buzz / FizzBuzz depending on the value N.

In [4]:
N = int(input())
if N%3==0 and N%5==0:
  print("FizzBuzz")
elif N%3==0:
  print("Fizz")
elif N%5==0:
  print("Buzz")

30
FizzBuzz

In [5]:
a = 1
b = 0
c = 1
if (a and b):
    print("Scaler is awesome")
elif (a and c):
    print("ML is fun")
if (a and b and c):
    print("Python is amazing")
if (a or b or c):
    print("I love DS")

ML is fun
I love DS

In [ ]:
Given an integer A representing an year, Return 1 if it is a leap year else return 0.

A year is leap year if the following conditions are satisfied:
Year is multiple of 400.
Else the year is multiple of 4 and not multiple of 100.

In [8]:
A = int(input())
if (A%400==0 or (A%4==0 and A%100!=0)):
  print("1")
else:
  print("0")

2020
1

In [9]:
a = 4
b = -5
if a > 0:
    if b < 0:
        a = a - 2
    elif a > 5:
        a = a - 4
    else:
        a = a + 3
else:
    b = b + 2

In [ ]:
You have been given a dataset for marks of 2 subjects, scored by students of classes ClassA and ClassB.
You now want to compare the performances of class A and class B by finding out the average performance of the classes.
Write a program to find if class A performed better. Print True is Class A is strictly better else return False.


Input Format

There are 4 lines in the input.
The first and second lines are marks of subjects for Class A.
The third and fourth lines are marks of subjects for Class B.


Output Format

Print True if class A is strictly better else False.

In [11]:
# Input marks for Class A
marks_a_subject1 = int(input())
marks_a_subject2 = int(input())

# Input marks for Class B
marks_b_subject1 = int(input())
marks_b_subject2 = int(input())

# Calculate the average marks for each class
average_marks_a = (marks_a_subject1 + marks_a_subject2) / 2
average_marks_b = (marks_b_subject1 + marks_b_subject2) / 2

# Compare the average marks and print the result
if average_marks_a > average_marks_b:
    print(True)  # Class A is strictly better
else:
    print(False)  # Class A is not strictly better

70
80
90
85
False

In [12]:
#Write a program to input two numbers(A & B) from user and print the minimum element among A & B in each line.

A = int(input())
B = int(input())
if A < B:
  print(A)
else:
  print(B)

6
7
6

In [13]:
x = 2
if x==2:
    x = 3
x = 4
else:
    x = 5
print(x)

SyntaxError: ignored

In [ ]:
Problem Description
You are given 3 integer angles(in degrees) A, B and C of a triangle. You have to tell whether the triangle is valid or not.
A triangle is valid if sum of its angles equals to 180.
Problem Constraints
1 <= A, B, C <= 180

In [15]:
# Input the three angles
A = int(input())
B = int(input())
C = int(input())

# Check if the sum of angles equals 180
if A + B + C == 180:
    print(1)  # Valid triangle
else:
    print(0)  # Invalid triangle

90
45
45
1

In [ ]:
You are given the Cost Price C and Selling Price S of a Product. You have to tell whether there is a Profit or Loss. Also, calculate total profit or loss.
NOTE: It is guaranteed that Cost Price and Selling Price are not equal.
Problem Constraints
1 <= C, S <= 109
C ≠ S
Input Format
First line of the input contains a single integer C.
Second line of the input contains a single integer S.
Output Format
Print two integers in separate lines.
First integer denotes whether there is a profit or loss. If there is a profit, print 1, else print -1.
Second integer is a non-negative integer denoting the absolute value of total profit or loss.

In [17]:
# Input cost price (C) and selling price (S)
C = int(input())
S = int(input())

# Calculate profit or loss
if S > C:
    # Profit case
    profit_or_loss = 1
    total_profit_loss = S - C
else:
    # Loss case
    profit_or_loss = -1
    total_profit_loss = C - S

# Output the result
print(profit_or_loss)
print(total_profit_loss)

100
120
1
20

In [ ]:
Write a program to input an integer(A) from user and print the Ath month of the year.
Months list: {January, February, March, April, May, June, July, August, September, October, November, December}

In [21]:
# List of months
months = ["January", "February", "March", "April","May", "June", "July", "August","September", "October", "November", "December"]

# Input the integer A
A = int(input())

# Check if A is within the valid range
if 1 <= A <= 12:
    # Subtract 1 from A to access the correct index in the list
    month_name = months[A-1]
    print(month_name)
else:
    print("Invalid input. Please enter an integer between 1 and 12.")

8
August

In [21]:
Write a program to input from user an integer(n) representing the rating of a person on a platform.

You have to print the category of that person.

If the rating is greater than or equal to 2100 then that person is "grand master".
If the rating is greater than or equal to 1900 then that person is "candidate master".
If the rating is greater than or equal to 1600 then that person is "expert".
If the rating is greater than or equal to 1400 then that person is "pupil".
If the rating is smaller than 1400 then that person is "newbie".
NOTE: Print all the chars of the category of the person in lowercase if rating is odd otherwise print in UPPERCASE

In [22]:
n = int(input())

if n >= 2100:
    category = "grand master"
elif n >= 1900:
    category = "candidate master"
elif n >= 1600:
    category = "expert"
elif n >= 1400:
    category = "pupil"
else:
    category = "newbie"

if n % 2 == 0:
    category = category.upper()
else:
    category = category.lower()

print(category)

2200
GRAND MASTER