<a href="https://colab.research.google.com/github/Sanjib987/python-practise/blob/main/For_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# while
meter = 1 # starting condition
while meter<=5: # while <condition>
    print(meter) # do something
    meter = meter + 1 # increment

1
2
3
4
5

In [1]:
# while
meter = 1 # starting condition
while meter<=5: # while <condition>
    print(meter) # do something
    meter = meter + 1 # increment

1
2
3
4
5

In [2]:
for num in range(2,5):
    print(num)

2
3
4

In [3]:
for num in range(3,15,2):
    print(num)

3
5
7
9
11
13

In [4]:
for num in range(9,3):
    print(num)

In [5]:
for num in range(9,3,-1):
    print(num)

9
8
7
6
5
4

In [13]:
for num in range(9,3,-1): # start has to be an int
    print(num)
for num in range(9,3,-1): # end has to be an int
    print(num)

for num in range(9,3,-1): # step has to be a non 0 int
    print(num)
for i in range(-100,-90):
    print(i)

9
8
7
6
5
4
9
8
7
6
5
4
9
8
7
6
5
4
-100
-99
-98
-97
-96
-95
-94
-93
-92
-91

In [16]:
''' Question 1 - Print all integers from 1 to N using for loop. (N to be included) Take N as input from the user.''' '''
Input is 4 Output will be 1 2 3 4 '''

N = int(input())
for i in range(N): # >> 0,1,2,3,,,,N-1
    print(i+1, end=" ") # >> 1,2,3,4,,,,N

N = int(input())
for i in range(1,N+1): # >> 1,2,3,4,,,,N
    print(i, end=" ")

8
1 2 3 4 5 6 7 8 7
1 2 3 4 5 6 7

In [20]:
# len
print(len(range(5)))

print(len(range(2,5)))

print(len(range(5,2)))
print(len(range(5,2, -1)))

5
3
0
3

In [22]:
''' Question 2 - Take N as input from the user. Calculate the sum of all numbers from 1 to N (N is included). ONLY USE for LOOP AND range
'''''' Input : 3 Output : 6 '''

# 1 get the input
N = int(input())
# 2 start the total from 0
total = 0
# 3 loop over the range
for i in range(1,N+1): # >> 1,2,3,4,,,,N
    # print(i, end=" ")
    # 4 update the total as you loop over the range
    total = total + i
# 5 print the total
print(total)

5
15

In [23]:
'''
Question 3 -
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).
'''
'''
1 > 1
2 > 2
3 > 6
4 > 24
'''

# 1 get the input
N = int(input())
# 2 start the product from 1
product = 1
# 3 loop over the range
for i in range(1,N+1): # >> 1,2,3,4,,,,N
    # print(i, end=" ")
    # 4 update the product as you loop over the range
    product = product * i
# 5 print the product
print(product)

7
5040

In [5]:
'''
Question 4 -
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''
N = int(input())
# 2 start the product from 1
product = 1
# 3 loop over the range
for i in range(2,N+1,2): # >> 1,2,3,4,,,,N
    # print(i, end=" ")
    # 4 update the product as you loop over the range
    product = product * i
# 5 print the product
print(product)

10
3840

In [4]:
print(2*4*6*8*10)

3840

In [9]:
'''
Question 5 -
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.

GIVEN - Both start and end will be greater than 0.
'''


A = int(input())
B = int(input())

product = 1
if A%2==0:
  for i in range(A,B,2): # >> 1,2,3,4,,,,N
    # print(i, end=" ")
    # 4 update the product as you loop over the range
    product = product * i
else:
  for i in range(A+1,B,2): # >> 1,2,3,4,,,,N
    # print(i, end=" ")
    # 4 update the product as you loop over the range
    product = product * i
# 5 print the product
print(product)


start = int(input())
end = int(input())
if start%2==0:
    start=start
else:
    start=start+1
product = 1
for i in range(start, end+1,2):
    product*=i
print(product)

4
10
192

In [7]:
print(4*6*8)

192

In [14]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''
N = int(input())
for i in range(N , 1-1, -1):
    print(i, end=" ")

10
10 9 8 7 6 5 4 3 2 1

In [16]:
# Home work
print("""```
Question 7 -
Print all the numbers from an input N to 1 in reverse order.
>>   With for loop using range function but Without using a negative step/jump!
N > 1 -> Given

```""")

```
Question 7 -
Print all the numbers from an input N to 1 in reverse order.
>>   With for loop using range function but Without using a negative step/jump!
N > 1 -> Given

```

In [17]:
n = int(input())

for i in range(-n, 0):
    print(-i, end=" ")

9
9 8 7 6 5 4 3 2 1

In [21]:
name = "Cristiano Ronaldo"
print(name)
print(len(name))
for i in name:
    print(i)

Cristiano Ronaldo
17
C
r
i
s
t
i
a
n
o

R
o
n
a
l
d
o