<a href="https://colab.research.google.com/github/Sanjib987/python-practise/blob/main/python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
print("Welcome back 😎")
# recap #
print("print is a function that is useful to display output on screen")
# python is GREAT 🙌
# 1: is case sensitive
# 2: is precisely typed

print("this is a str that will be printed on screen")
print('this is a str that will be printed on screen')
print("""this
is a str that
will be printed
on screen""")
print('''this is a str that
will be printed on screen''')

print(type('''this is a str that
will be printed on screen'''))

Welcome back 😎
print is a function that is useful to display output on screen
this is a str that will be printed on screen
this is a str that will be printed on screen
this
is a str that
will be printed
on screen
this is a str that
will be printed on screen
<class 'str'>

In [13]:
# 5 data types >> # str, int, float, bool, none

# str
print("this is a str that will be printed on screen")
print('this is a str that will be printed on screen')
print("""this
is a str that
will be printed
on screen""")
print('''this is a str that
will be printed on screen''')


## int
print(-1,0,1)
print(type(-1),type(0),type(1))


## float
print(-1.123,0.456,1.0)
print(type(-1.123),type(0.456),type(1.0))

# bool
print(True)
print(False)
# print(false)

# None
print(None)

this is a str that will be printed on screen
this is a str that will be printed on screen
this
is a str that
will be printed
on screen
this is a str that
will be printed on screen
-1 0 1
<class 'int'> <class 'int'> <class 'int'>
-1.123 0.456 1.0
<class 'float'> <class 'float'> <class 'float'>
True
False
None

In [14]:
# I want to store
# >> addhaar num>> str
# >> bank bal >> float
# >> age in years >> int
# >> whether elephant is the BEST animal or not >> bool
# >> people who say python is not great >> None
# hack >>0-10 cents>>0.01$ to 0.10 $
# 0.1*100_000_000>>$10_000_000

In [15]:
# expressions
# lhs = rhs
# rhs will be processed first and will be stored in LHS
my_var = 10
print(my_var)
print(type(my_var))

10
<class 'int'>

In [ ]:
# varaiable names
# no spaces
# cannot start with numbers
# no keyword
# in general >> a-z, A-Z, 0-9, _
# recommendation>> don't create var names that are popular functions
# input function
# gettting the input
# IMP>> always treats absolutely everything as a str

In [17]:
name = input("What is your name my friend 🙂: ")
print("user entered:", name)

What is your name my friend 🙂: sanjib
user entered: sanjib

In [21]:
print(int("1234"))
print(str(1234))
print(float("12345.12345"))
# print(int("Ronaldo"))

1234
1234
12345.12345

In [23]:
print(int(12345.456789)) # float to int
print(int(-12345.456789)) # float to int
# not rounding off, throwing away the decimal values

12345
-12345

In [24]:
print("""name""") # here name is not a var

name

In [25]:
name = "Ronaldo"
age = 39
height = 185.5
isBetterThanMesi = True
FIFA_trophies = None
print(name, age, height, isBetterThanMesi, FIFA_trophies) # multiple output by seperating them with ,

Ronaldo 39 185.5 True None

In [33]:
print("Ronaldo", 39, 185.5, True, None)
print("whoaaaa")
print("whaaaat?")
print("Ronaldo", 39, 185.5, True, None)
print("Ronaldo", 39, 185.5, True, None, sep = " ")
# sep >> if a single print is printing multiple data points(, seperated),
# the output with be sep seprated [default is " "]
# end >> once a print is done, what should be the end, default is new line
print("Ronaldo", 39, 185.5, True, None, sep = "--")
print("Ronaldo", end="this is done ")
print( 39)
print( 185.5)
print( True)
print("Ronaldo")
print( 39)
print( 185.5)
print( True)

Ronaldo 39 185.5 True None
whoaaaa
whaaaat?
Ronaldo 39 185.5 True None
Ronaldo 39 185.5 True None
Ronaldo--39--185.5--True--None
Ronaldothis is done 39
185.5
True
Ronaldo
39
185.5
True

In [38]:
# end is new line
print("Ronaldo", 39, sep = " ")
print( 185.5, True, sep = ",,")
print( None, sep = " ")

print("Ronaldo", 39, sep = "--", end=" <this is done>")
print( 185.5, True, sep = ",,")
print( None, sep = " ")

print("how to tell in a str that a new line has happened")
print("we do that by \n this will be on a new line")
print("by default end is \n")

# end is new line
print("Ronaldo", 39, sep = "\n")
print( 185.5, True, sep = ",,")
print( None, sep = " ")
# sep>> seperattion between values printed by same print function, default is " "
# end>> how a print function ends, default is "\n"

Ronaldo 39
185.5,,True
None
Ronaldo--39 <this is done>185.5,,True
None
how to tell in a str that a new line has happened
we do that by
 this will be on a new line
by default end is

Ronaldo
39
185.5,,True
None

In [40]:
# ques
print("Ronaldo", 39, 185.5, True, None)
# 1 why are they space seperated >> beacuse default sep =" "
# 2 how to remove the space seperated
print("Ronaldo", 39, 185.5, True, None, sep="")
# 3 how to remove the space seperated and replace by ,
print("Ronaldo", 39, 185.5, True, None, sep=",")
# 4 how to remove the space seperated and replace by ", "
print("Ronaldo", 39, 185.5, True, None, sep=", ")
print("Ronaldo", 39, 185.5, True, None, sep="🏃‍♂️")

Ronaldo 39 185.5 True None
Ronaldo39185.5TrueNone
Ronaldo,39,185.5,True,None
Ronaldo, 39, 185.5, True, None
Ronaldo🏃‍♂️39🏃‍♂️185.5🏃‍♂️True🏃‍♂️None

In [52]:
# simple maths
print(20+2) # int + int
print("20+2") # str
print("20"+"2") # "str" + "str"
print("Cristiano"+"Ronaldo")
print(20+2)
print(20+2.5)
print("Cristiano"+"Ronaldo")
print(20-2)
print(20-2.5)
# print("Cristiano"-"Ronaldo")
print(20/2)
print(20/2.5)
# print("Cristiano"/"Ronaldo")
print(20*2)
print(20*2.5)
# print("Cristiano"*"Ronaldo")
print("Cristiano"*7)# a*7 = a+a+a+a+a+a+a
print("Cristiano"+"Cristiano")
# print("Cristiano"*7.5)

## str
# add them (+)>> concats
# str*int>> repeats int times

# numbers
# if you +,-,*: output will be float if atleast one of them was float
# if you /: output will always be float



# print(6+3,6-3, 6/3,6*3, \n)
# is not working
print(6+3,6-3, 6/3,6*3, "\n")
print(6+3,6-3, 6/3,6*3,sep= "\n")

22
20+2
202
CristianoRonaldo
22
22.5
CristianoRonaldo
18
17.5
10.0
8.0
40
50.0
CristianoCristianoCristianoCristianoCristianoCristianoCristiano
CristianoCristiano
9 3 2.0 18

9
3
2.0
18

In [61]:
# Q1.
# ask the user for 2 +ive integer numbers
# give me the average of the 2 numbers entered

first = int(input("Enter first integer: "))
second = int(input("Enter second integer: "))
print(first,second)
total = first+second
print(total) # int + int is int
avg = total/2
print(avg) # anything / is float
print(int(avg)) # float to int
print(type(sum)) # sum is a popular function
print(type(avg)) # nothing called avg

Enter first integer: 210
Enter second integer: 190
210 190
400
200.0
200
<class 'builtin_function_or_method'>
<class 'float'>

In [1]:
print(10)
print("10")
# Print("5+10")
# P Caps so error
#print(type(true))
# t in True is smallcaps
# Print("10+10")

10
10

In [9]:
print(10)
print("10")
print("5+10")
print(type(True))
print("10+10")

10
10
5+10
<class 'bool'>
10+10

In [11]:
name ='Sahil'
print(name)

Sahil

In [12]:
#start
x = 3 # x is 3
y = 'hello'  # x is 3, y is 'hello
num = y # x is 3, y is 'hello, num is 'hello'
y = 5 # x is 3, y is 5, num is 'hello'# x is 3, y is 'hello, num is 'hello'
print(num, y)

hello 5

In [13]:
print('2' + "2" +"""3"""+'''4''')

2234