<a href="https://colab.research.google.com/github/Sanjib987/python-practise/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
print('hi')
print("hi")
print("I love python")
print("shortcut to run python code cell is shift + enter")
print('this is something I wrote')
print("someone tole me I can use double quotes as well")
print("will this run?")
print('what about this?')
print('whqat about this ONE?')
print("sometimes we can get errors and that is fine")
# but some times we want to ignore errors
#and for that we have python comments
print('how do you create comments?')
print("any line that starts with hash(#) is a python comment")
print('python comments are completely ignoresd by python')
print('in general we use python comments to document code')
print('this will show output on a single line')
print("still on a single line")
print('I am getting tired, how do I write on multipltle lines')
print('''to
print
output on
multiple lines
we use tripple quotes''')
print("""to
print
output on
multiple lines
we use tripple quotes""")
print("we used print to show output on screen")
print("anything that we want shown shold be in single quotes, double quotes OR tripple single quotes OR tripple double quotes")
print('single quote')
print("double quote")
print('''tripple single
quote''')
print(""" tripple double
quote""")
print("""tripple quotes allow you to have output that can go on as many lines as possible""")
print("Python comments start with # and are ignored by python")
# like this

hi
hi
I love python
shortcut to run python code cell is shift + enter
this is something I wrote
someone tole me I can use double quotes as well
will this run?
what about this?
whqat about this ONE?
sometimes we can get errors and that is fine
how do you create comments?
any line that starts with hash(#) is a python comment
python comments are completely ignoresd by python
in general we use python comments to document code
this will show output on a single line
still on a single line
I am getting tired, how do I write on multipltle lines
to
print
output on
multiple lines
we use tripple quotes
to
print
output on
multiple lines
we use tripple quotes
we used print to show output on screen
anything that we want shown shold be in single quotes, double quotes OR tripple single quotes OR tripple double quotes
single quote
double quote
tripple single
quote
 tripple double
quote
tripple quotes allow you to have output that can go on as many lines as possible
Python comments start with # and are ignored by python

In [16]:
# data types
# 5 in python


# str
print('hi')
print("hi")
print('''tripple single
quote''')
print(""" tripple double
quote""")
print("""12345678990-=[]'l;/.,?><:"}|{+_)(*&^%$!@#)}""")
print("65")
print("65-60")


# int
print(65)
print(65-60)
print(0)
print(-100)


# float
print(100.5)
print(0.0)
print(-10.01)
print(100.5*2.5)


# bool
print(True)
print(False)


# None
print(None)


# str
print('hi')
print("hi")
print('''tripple single
quote''')
print(""" tripple double
quote""")
print("""12345678990-=[]'l;/.,?><:"}|{+_)(*&^%$!@#)}""")
print("65")
print("65-60")
# int
print(65)
print(65-60)
print(0)
print(-100)
# float
print(100.5)
print(0.0)
print(-10.01)
print(100.5*2.5)
# bool
print(True)
print(False)
# None
print(None)

hi
hi
tripple single
quote
 tripple double
quote
12345678990-=[]'l;/.,?><:"}|{+_)(*&^%$!@#)}
65
65-60
65
5
0
-100
100.5
0.0
-10.01
251.25
True
False
None
hi
hi
tripple single
quote
 tripple double
quote
12345678990-=[]'l;/.,?><:"}|{+_)(*&^%$!@#)}
65
65-60
65
5
0
-100
100.5
0.0
-10.01
251.25
True
False
None

In [17]:
print("I ðŸ’˜ pythonðŸ")
print("ðŸ˜€ðŸ‘")

I ðŸ’˜ pythonðŸ
ðŸ˜€ðŸ‘

In [19]:
# expressions

name = "Cristiano Ronaldo"
print(name, type(name))
age = 38
print(age, type(age))
height = 185.5
print(height, type(height))
isHeBetterThanMessi = True
print(isHeBetterThanMessi, type(isHeBetterThanMessi))
FIFA_trophies = None
print(FIFA_trophies, type(FIFA_trophies))

Cristiano Ronaldo <class 'str'>
38 <class 'int'>
185.5 <class 'float'>
True <class 'bool'>
None <class 'NoneType'>

In [21]:
# variable name cannot start with a number
#2ab = "Ronaldo"

# variable name cannot have a space
# this is my Name = "Ronaldo"

# variable name cannot be a keyword
# lambda = 10

help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [23]:
# print()
# type()
# help()
# anything that ends with () is a python function
print("this is using print as a python function")

this is using print as a python function

In [24]:
# using popular python functions as variable names is not recommended
# print = 2
# print("can I still show output")
# ðŸ˜¢
# runtime >  disconnect and delete runtime
print("all varaiables are reset")

all varaiables are reset

In [26]:
name = 'Ronaldo'
print(name)
print(type(name))

Ronaldo
<class 'str'>

In [28]:
# input function
# this is used to get input
input()
print('Hey I got some input')

# i can store the user input in a var
userGaveMe=input()
print("THis is what the user gave", userGaveMe)

Sanjib
Hey I got some input
Sanjib
THis is what the user gave Sanjib

In [29]:
print('starting to get the input')
userGaveMe=input()
print('Input gotten')

starting to get the input
Sanjib
Input gotten

In [33]:
age = input("Hey user, please enter your age: ")
print(age)
print(type(age))
print('26')
print(26)

Hey user, please enter your age: sanjib
sanjib
<class 'str'>
26
26

In [38]:
# input stores everything as a str

# print(age, type(age))
# age_as_int = int(age)
# print(age_as_int, type(age_as_int))
# print(age_as_int+1)

In [41]:
print('hello')
height = input("what is your height:")
print(height, type(height))
height = float(height)
print(height, type(height))
height = float(input("what is your height:"))
print(height, type(height))

hello
what is your height:23
23 <class 'str'>
23.0 <class 'float'>
what is your height:34
34.0 <class 'float'>